{% extends "base.html" %}

{% block content %}
<div>
        {% if user.is_authenticated %}
            <h2>You are logged in.</h2>
        {% else %}
        <h2>Inform your data</h2>
        <form class="form-horizontal" method="post">
            {% csrf_token %}
                {{ form.non_field_errors }}
                {% for field in form %}
                <div>
                    <label class="form-control">{{ field.label_tag }}</label>
                    <input class="form-control" {{ field }}
                    {{ field.errors }}
                </div>
                {% endfor %}
                    <br>
                    <button type="submit" class="btn btn-default">Sign Up</button>
        <p>
            Already have an account? <a href="{% url 'accounts:login' %}" title="">Sign In</a><br/>
        </p>
        </form>
        {% endif %}
</div>
{% endblock %}